<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
     <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/application.css" />
  </head>
    <body>
      <div id="page">
        <div id="sidebar">
          <ul id="sidebar-items">
            <li>
              <h3>Like Us!</h3>
              <ul class="links">
                <div id="fb-root"></div>
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/The-Glamour-Review/107961172629245" width="292" show_faces="true" border_color="" stream="true" header="true"></fb:like-box>
              </ul>
            </li>
          </ul>
        </div>

        <div id="content">
          <div id="about">
            <h3><a href="http://www.theglamourreview.com/about-us" onclick="about(); return false">About Us</a></h3>
            <div id="about-content" style="display: none"></div>
          </div>
          
          <div id="header"> 
            <h1>The Glamour Review</h1>
            <h2>Sometimes the truth ain't pretty.</h2>
          </div>

          <div id="getting-started">
            <h1>Getting started</h1>
            <h2>Here&rsquo;s how to get rolling:</h2>

            <ol>
              <li>
                <h2>Use <code>rails generate</code> to create your models and controllers</h2>
                <p>To see all available options, run it without parameters.</p>
              </li>

              <li>
                <h2>Set up a default route and remove or rename this file</h2>
                <p>Routes are set up in config/routes.rb.</p>
              </li>

              <li>
                <h2>Create your database</h2>
                <p>Run <code>rake db:migrate</code> to create your database. If you're not using SQLite (the default), edit <code>config/database.yml</code> with your username and password.</p>
              </li>
            </ol>
          </div>
        </div>

        <div id="footer">&nbsp;</div>
      </div>
    </body>
</html>
    